.sidebar-section {
  &-header {
    color: #7db122;
    text-transform: uppercase;
    font: 18px $main-font;
    margin: 0 0 20px 0;
  }
  &-select-cover {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 5px;
    color: red;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 0 5px;
    margin: 0 0 10px 0;
    width: 100%;
    &__sorting-menu {
      background: transparent none repeat scroll 0 0;
      border: medium none;
      border-radius: 5px;
      box-sizing: border-box;
      color: #707070;
      font: 18px $main-font;
      height: 32px;
      margin: 0;
      width: 100% + 15%;
    }
  }
  &-select-cover:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #dfdfdf;
    display: block;
    float: right;
    position: absolute;
    max-width: 0px;
    height: 0px;
    content: "";
    right: 40px;
    margin: -17px 0 0 0;
  }
  &-spotlite {
    min-height: 70px;
    margin: 0 0 7px 0;
    padding: 9px;
    background: #f9f9f9;
    display: block;
    &__img {
      width: 55px;
      height: 55px;
      float: left;
      display: block;
      border: 1px solid #f5f5f5;
      & img {
        max-width: 100%;
        margin: 8px 0 0;
      }
    }
    &__description {
      height: 55px;
      line-height: 14px;
      display: block;
      width: 170px;
      display: inline-block;
      margin: 0 0 0 10px;
      &-title {
        color: #4cb1ca;
        font: 18px $main-font;
      }
      &-body {
        color: #c3c3c3;
        font: 12px $main-font;
      }
    }
  }
  &-spotlite:hover {
    background: #eeeeee;
  }
  &-payment {
    text-align: center;
    min-height: 100px;
    &__cover {
      width: 80px;
      height: 50px;
      background: rgba(227, 235, 237, .8);
      position: absolute;
      display: block;
      border-radius: 10px;
    }
    &__cover:hover {
      display: none;
    }
    &-img1 {
      display: inline-block;
      width: 80px;
      height: 49px;
      background: url("../img/sprite.png") -474px 0;
    }
    &-img1:hover &__cover {
    display: none
    }
    &-img2 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -553px 0px;
    }
    &-img3 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -634px 0px;
    }
    &-img4 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -713px 0;
    }
    &-img5 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -792px 0px;
    }
    &-img6 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -872px 0px;
    }
    &-img7 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -474px 0;
    }
    &-img8 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -553px 0px;
    }
    &-img9 {
      @extend .sidebar-section-payment-img1;
      background: url("../img/sprite.png") -634px 0px;
    }
  }
}

.pink {
  color: #f02b63;
}

.grey-divider {
  margin: 0 10px;
}

@media (max-width: 925px){
  .sidebar-section-spotlite {
    text-align: center;
  }
  .sidebar-section-spotlite__img{
    margin: 0 auto;
    float: none;
  }
}

