doctype html
html(ng-app='cosmetApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ng-view)
      block content

    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/app.js')
    script(src='/home/home.controller.js')