<div class="cover">
  <div class="col-md-6 col-xs-12">
    <div class="filter">
      <h2 class="filter__title">Поиcк по названию процедуры</h2>
      <input class="filter__input"  type="text" id="filter" name="filter" ng-model="textFilter" placeholder="Начните писать название процедуры"/>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <ul class="services-list" >
      <li class="services-list__item" ng-repeat="procedure in vm.data.procedures | filter: textFilter">
        <a class="services-list__link" href="procedures/face/{{ procedure._id }}">{{ procedure.title }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>