.cover {
  max-width: 980px;
  margin: $centering;
  padding-top: 100px;
}

.filter {
  margin: 0 auto 40px;
  width: 400px;
  font: 18px "Open Sans";

  &__title {
    font: 25px "Open Sans", Arial;
    margin-bottom: 10px;
  }
  &__input {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid rgba(0,0,0,.4);
  }
}

.services-list {
  width:  400px;
  box-shadow: 0 0 2px #252525;
  margin: 0 auto 40px;
  list-style: none;
  &__item {
    border-bottom: 1px solid #e2b3be;
    width: 400px;
    margin: 0 auto;
  }
  &__link {
    display: block;

    height: 40px;
    font: 18px /40px "Open Sans", Arial;
    text-align: center;
    text-transform: uppercase;
    color: $font-color;
    &:hover {
      color: $font-color;
      background: #e2b3be;
    }
  }
}
