.procedures {
  min-height: 500px;
  &__header {
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    font: 25px "Open Sans",Arial;
    margin: 100px 0; 
  }
  &-list {
    list-style: none;
    &__link {
      border: 3px solid #b92c4e;
      color: $font-color;
      font: 18px/43px "Open Sans",Arial;
      height: 50px;
      margin: 0 auto 50px;
      text-align: center;
      text-transform: uppercase;
      width: 300px;
      display: block;
      transition: border .1s linear, color .1s linear; 
      &:hover {
        text-decoration: none;
        color: $main-color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) inset;
        line-height: 45px;
      }
    }
  }
}
