.slider {
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  padding: 10px;
  max-width: 500px;
  margin: 40px auto;
  &__img {
    height: auto;
    margin: 0 10px;
  }
}

.slider-navigation {
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  max-width: 500px;
  margin: 40px auto;
  & img {
    border: 1px solid rgba(0,0,0,.2);
  }
}

.helper {
  height: 40px;
}

